*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'arial',sans-serif;
}


.main{
    width: 1300px;
    margin: 0 auto;
}
    header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 75px;
        display: flex;
        background-color: white;
    }

.applogo{
    width:20%;
    background-color: white;
}

.applogo>img{
    width: 75px;
    height: 75px;
}

.nav{
    float: right;
    position:relative;
    width:fit-content;
    display:flex;
    margin:30px 0 0 30%;   
    }
    
    .nav ul{
    display: flex;    
    align-items:center;
    }

    .nav ul li{
    list-style:none;
    margin:0 20px;
    color: aqua;
    }
    .nav ul li a{
    text-decoration: none;
    font-size: 15px;
    }
   
    .nav ul li svg{
        width: 10px;
        margin: 0 4px;
    }
    

.techd{
    display: none;
    text-align: left;
    z-index: 10;
    flex-direction: column;

    z-index: 10;
    position: relative;
    top:30px; 
}

.techd li{
    margin: 4px 0;
}

.dr{
    display: flex;    
}


.dr:hover{

}


    .chimg{ 
        width: 100%;       
        margin: 0;
    }

    .chimg img{
        width: 90%;
    }

    @keyframes changeimg {
        0%{content:url("1-1.jpg")}
        33%{content:url("2-1.jpg")}
        65%{content:url("3-1.jpg")}
    }

    .chimg>img{
        animation: changeimg 5s infinite;
        
    }



    .main_base{
        background-color: #d9e9f7;
        padding:10px;
        width: 100%;        
    }

    .copyright{
        width: 100%;
       text-align: center;
       font-weight: bold;
       margin: 20px 0;
    }
    
    .container{
        width: 80%;
        display: flex;
        margin: 0 auto;
      }
    

      .pane{
          border: 1px solid black;
          border-radius: 10px;
          width:32%;
          margin: 0 0.65%;
      }
      
    .leftpane{
        float: left;                    
        border-collapse: collapse;
    }

    .applogo_base{
        width:20%;
    }
    .applogo_base>img{
        width: 75px;
        height: 75px;
    }

    .pane_p{
        color:white;
        border-radius: 25px;
        background: #a1c8ec;
        padding: 20px;
        height: fit-content;
        width: 90%;
        margin: 0 auto;
        list-style:none;
    }

    .pane_ul{
        border-radius: 35px;
        background: #a1c8ec;
        list-style: none;
        height: 50%;
        width: 50%;
        padding: 20px;
    }

    .pane_p li:before {
        content: '✓';
      }


      .thrrow{
          display: flex;
      }

      input{
          width: 90%;
          height: 38px;
          border: none;
          border-radius: 5px;
          margin: 0 0 10px 0;
      }

      textarea{
          width: 90%;
          height: 60px;
          max-width: 0 auto;
          border: none;
          border-radius: 5px;
          margin: 0 0 10px 0;
      }

      button{
          width: 75px;
          height: 25px;
          margin: 0 0 0 35%;
      }
    