<!DOCTYPE html>
<html lang="en">

<head>
    <title>Integration|Anytimedeveloper.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css.css">
</head>

<body>
    <section class="main">
        <header>
            <div class="applogo"><img src="./atdlogo.png"></div>
            <div class="nav">
                <ul>
                    <li><a href="https://anytimedeveloper.com/Home" class="right">Home</a></li>
                    <li><a href="https://anytimedeveloper.com/services">Services</a></li>
                    <li><a href="#" class="dr">
                            <div>Technology</div> <svg class="ast-arrow-svg" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="26px"
                                height="16.043px" viewBox="57 35.171 26 16.043"
                                enable-background="new 57 35.171 26 16.043" xml:space="preserve">
                                <path d="M57.5,38.193l12.5,12.5l12.5-12.5l-2.5-2.5l-10,10l-10-10L57.5,38.193z"></path>
                            </svg>
                        </a>
                        <ol class="techd">
                            <li><a href="">Integration</a></li>
                            <li><a href="">Transformation</a></li>
                            <li><a href="">API</a></li>
                        </ol>
                    </li>
                    <li><a href="https://anytimedeveloper.com/product/">Product</a></li>
                    <li><a href="https://anytimedeveloper.com/blog/">Blog</a> </li>
                </ul>
            </div>
        </header>
        <section class="chimg">
            <img alt="img" src="1-1.jpg" id="img">
        </section>
    </section>


    <section class="main_base">
        <div class="copyright">
            <label>@Copyright 2021 ATDev Services Pvt.Ltd..All Rights Reserved.</label>
        </div>
        <div class="container">
            <div class="leftpane pane">
                <div class="applogo_base"><img src="./atdlogo.png"> </div><br>
                <label><b>ATDev Services Pvt Ltd.</b></label></label><br><br>
                <div>
                    <p class="pane_p"><b>Registered office: KUL-ECOLOCH CB-105, MAHALUNGE,PUNE , INDIA – 411045
                            CIN: U74999PN2019OPC181765
                            Email: info@anytimedeveloper.com</b></p>
                </div><br><br>
                <label><b>Technology Stack</b></label><br><br>
                <div>
                    <ul class="pane_p">
                        <li>MuleSoft</li>
                        <li>Spring Stack | KONG</li>
                    </ul>
                </div><br><br>
                <div class="pane_p"> <label><b>WORK WITH US</b></label></div><br><br>
            </div>

            <div class="middlepane pane">
                <div> <label><b>Integration</b></label></div><br><br>
                <div>
                    <ul class="pane_p">
                        <li>Core System Integration</li>
                        <li>Modern Apps Integration</li>
                        <li>Integration Transformation</li>
                        </ol>
                    </ul>
                </div>
                <label><b>API</b></label><br><br>
                <div>
                    <ul class="pane_p">
                        <li>Cloud API's</li>
                        <li> MicroServices</li>
                        <li>API as a Service</li>
                    </ul>
                </div><br><br>
                <label><b>Transformation</b></label><br><br>
                <div>
                    <ul class="pane_p">
                        <li>Data</li>
                        <li>Process</li>
                        <li>Application</li>
                    </ul>
                </div><br><br>
            </div>
            <div class="rightpane pane">
                <div> <label><b>Write a Query ?</b></label></div><br><br>
                <form>
                    <div class="pane_p">
                        <div class="thrrow">
                            <div>
                                <label>First Name</label><br>
                                <input type="text" placeholder="First Name" name="First Name " required>
                            </div>
                            <div>
                                <label>Last Name </label> <br>
                                <input type="text" placeholder="Last Name" name="Last Name" required>
                            </div>
                        </div>
                        <label>Email</label><br>
                        <input type="text" placeholder="Email" name="Email " required><br>
                        <label>Telephone</label><br>
                        <input type="text" placeholder="Telephone" name="Telephone " required><br>
                        <label>Write a Message</label><br>
                        <textarea type="text" placeholder="Write a Message" name="message" required></textarea>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>




    </section>

</body>

</html>